<?xml version="1.0"?>
<model>
  <name>Ballast tank - floors</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Albert Seligmann</name>
    <email>albertsseligmann@gmail.com</email>
  </author>
  <description>
    Based on Marcin Zajaczkowski's ballast tank model.
  </description>
</model>
